#product-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-image {
  width: 100%;
}
.product-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttons {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: #eee;
  padding: 16px 12px;
  width: 146px;
  border-radius: 40px;
}
.buttons button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: black;
  height: 100%;
  cursor: pointer;
}
